<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @formation.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @formation.content  %>
</p>

<%= link_to 'Edit', edit_formation_path(@formation) %> |
<%= link_to 'Back', formations_path %>
